* {
   margin: 0px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   height: auto;
   
}

body{

    
    width: 1280px;
    height: 1280px;
   

}

header{

    margin-bottom: 100px;
    
}

.menucontainer{

    background-color: #001D2D ;
    color: #FFFFFF;
    text-align: end;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-right: 20px;
    
    
}

main{

    justify-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center ;
    align-content: normal;
    justify-content: space-around;
   
   

}

.conteiner-top {

    background-color: #1CD1B0;
    

}

.Descontos{

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

}

.title {

    background-color: #00669F;
    

}

.text-title{

    padding-top: 28px;
    padding-left: 28px;
    padding-bottom: 26px;  

}

.card1 {
    background-color: #E5E5E5;;
    width: 374px;
    padding-left: 10px;
    padding-right: 10px;
      
}

.img-pers{

    border-radius: 50%;
    margin-top: -100px;
    margin-left: 125px;
  

}



.card2 {
    background-color: #E5E5E5;;
    width: 374px;
    padding-right: 10px;
    padding-left: 10px;
    
    
    
}
.title-card{

    align-content: center ;
}

.card{
    display: flex;
    position: relative;
    background-color: aqua;
   
}

.curtir{

    align-content: flex-start;
    justify-content: flex-start;
    

}

.heart {
    
    align-items: flex-start;
    justify-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    

}



.texto {

    justify-content: center;
    align-items: center;
    right: 125px;


}
.button{

    align-content: center;
    padding-top: 16px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 16px;  
    background-color: #00669F;
}

footer{

    margin-top: 100px;
   
}

.rodape{

    background-color: #00669F;
    padding-top: 16px;
    padding-left: 28px;
    padding-bottom: 16px;  



}
